<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>New avatar</title>
</head>

<body>
  <img alt="this is your avatar" src="/avatars/<%= avatar %>" width="250" height="250" />
</body>

</html>